.nav_item {
  font-size: var(--text-xl);

  &.active {
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.nav_actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 0 1rem;
  width: 100%;
}

.nav_text {
  display: flex;
  grid-column: -5/-2;
  justify-content: flex-end;
  width: max-content;
}

.nav_logout {
  display: flex;
  grid-column: -2/-1;
  justify-content: flex-end;
  width: max-content;
}
